:root {
    --font-family: 'PT Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
}
.logo {
    width: 160px;
    height: 35px;
}
.logo > img {
    width: 160px;
    height: 35px;
    object-fit: cover;
}
.started-header {
    padding: 24px 0;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 35px;
}
.nav-list-item {
    display: inline-block;
    padding: 0 15px;
}
.nav-list-item > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.nav-list-item > a:hover {
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
}
.auth {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 35px;
}
.button {
    border: none;
}
.auth > .button-secondary {
    background-color: white;
    font-size: 16px;
    color: black;
}
.auth > .button-primary {
    background-color: black;
    font-size: 16px;
    color: white;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}
.margin-left-15 {
    margin-left: 15px;
}
.auth > .button-secondary:hover {
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
}
.auth > .button-primary:hover {
    background-color: rgba(0, 0, 0, .8);
}
.started-content > h1 {
    font-size: 72px;
    font-weight: 700;
    width: 680px;
    text-align: center;
}
.started-content {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 110px;
    padding-right: 110px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.started-content > h3 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding-top: 24px;
    width: 600px;
}
.started-content > .group-action {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.group-action > .button-danger {
    background-color: #dd463d;
    border-radius: 100px;
    color: white;
    font-weight: 400;
    padding-top: 18px;
    padding-right: 36px;
    padding-bottom: 18px;
    padding-left: 36px;
    font-size: 20px;
}
.group-action > .button-link {
    font-weight: 400;
    padding-top: 18px;
    padding-right: 36px;
    padding-bottom: 18px;
    padding-left: 36px;
    font-size: 20px;
    background-color: white;
    text-decoration: underline;
}
.group-action > .button-danger:hover {
    background-color: rgba(221, 70, 61, .9);
}
.group-action > .button-link:hover {
    color: rgba(0, 0, 0, .6);
}
.task {
    color: #757575;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.task > img {
    height: 24px;
    width: 24px;
}
.task > p {
    margin: 0;
}
.group-task {
    width: 100%;
}
