* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url(12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.header {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0 30px 0;
}
.list {
    list-style-type: none;
}
.item {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
    gap: 7px;
}
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
}
.text {
    width: 100%;
}
textarea {
    width: 100%;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    border: none;
    resize: none;
}
button {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 15px;
    border: none;
    font-family: "PT Sans", sans-serif;
}

.form {
    padding: 30px 0 15px 0;
}

.item {
    cursor: pointer;
}

.done .text {
    text-decoration-line: line-through;
}