:root {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main {
    position: relative;
}
.main {
    height: 100vh;
    width: 100%;
    background-image: url(background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    position: relative;
}
.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;

}
.header {
    position: fixed;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}
.nav-list {
    list-style: none;

}
.nav-list-item {
    display: inline-block;
    padding-right: 20px;
}
.nav-list-item a {
    text-decoration: none;
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}
.nav-contact a {
    text-decoration: none;
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.main-content-title h1 {
    font-size: 150px;
    font-weight: 400;
    letter-spacing: 10;

}
.main-content-description h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 10;
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
}
.line-1 {
    width: 1px;
    height: 20vh;
    background-color: black;
}
.line-2 {
    width: 1px;
    height: 20vh;
    background-color: black;
}
.line-3 {
    width: 1px;
    height: 20vh;
    background-color: black;
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}
.about-content-left {
    flex: 1 1 auto;
    width: 50%;
    padding-right: 30px;
}
.about-content-right {
    flex: 1 1 auto;
    width: 50%;
    padding-left: 30px;
}
.about-content-left h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
}
.about {
    padding: 20vh 0;
    position: relative;
}
.about-content-left h1 {
    font-size: 46px;
    line-height: 40px;
    padding: 10px 0;
}
.about-content-right > p {
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
    padding-bottom: 40px;
}
.list-card {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.card {
    width: 280px;
    border: 1px solid rgb(179 160 137/.2);
    border-color: rgb(179 160 137/.2);
    border-radius: 3px;
    padding: 25px;
    height: 200px;
}
.card-header > h3 {
    font-size: 18px;
    padding-bottom: 40px;
    transition: 0.30s padding ease-out;
}
.card-main > p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
.card:hover {
    background-color: rgb(203 150 19/1);
    cursor: pointer;
}
.card:hover .card-header > h3{
    padding-bottom: 35px;
}
.line {
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: black;
    z-index: 10;
}
.experience {
    background-color: rgb(179 160 137/1);
    padding: 20vh 0;
    z-index: 9;
    position: relative;
}
.experience-content {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}
.experience-content-left {
    flex: 1 1 auto;
    width: 50%;
    padding-right: 30px;

}
.experience-content-right {
    flex: 1 1 auto;
    width: 50%;
    padding-left: 30px;
}
.experience-content-left > h3 {
    color: aliceblue;
    font-weight: 400;
    font-size: 20px;
}
.experience-content-right > h4 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 24px;
}
.experience-content-right p {
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
}
.accent {
    background-color: rgb(177, 157, 131);
}
.profile {
    padding: 20vh 0;
    background-color: rgb(214 214 214/1);
    position: relative;
}
.profile-content {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}
.profile-content-left {
    flex: 1 1 auto;
    width: 50%;
    padding-right: 30px;

}
.profile-content-right {
    flex: 1 1 auto;
    width: 50%;
    padding-left: 50px;
}
.profile-content-left > h3 {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}
.profile-content-left > h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
}
.principal {
    color: aliceblue;
}
.profile-content-right-img > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.profile-content-right-info > h4 {
    padding: 60px 0 20px 0;
    font-size: 20px;
    font-weight: 300;
}
.profile-content-right-info > p {
    font-weight: 100;
    font-size: 15px;
}
.profile-content-right-info > a {
    display: block;
    width: fit-content;
    padding: 20px 0 0 0;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    line-height: 36px;
}
.profile-content-right-info > a::after {
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    content: "";
    bottom: 0;
    height: 1px;
}
.profile-content-right-info > a:hover {
    opacity: 0.6;
    cursor: pointer;
}
.footer {
    background-color: rgb(33, 33, 33);
    position: relative;
}
.footer-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.footer-content > .line-4 {
    width: 1px;
    height: 20vh;
    background-color: aliceblue;
}
.footer-content > p {
    color: aliceblue;
    font-weight: 300;
    width: 280px;
    text-align: center;
    font-size: 18px;
}
.footer-content > a {
    width: fit-content;
    padding: 20px 0 0 0;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    line-height: 36px;
    color: aliceblue;
    text-decoration: none;
}
.footer-content > a::after {
    position: absolute;
    background-color: aliceblue;
    left: 0;
    right: 0;
    content: "";
    bottom: 0;
    height: 1px;
}
.footer-content > a:hover {
    opacity: 0.6;
    cursor: pointer;
}
.footer-content > .line-5 {
    width: 1px;
    height: 20vh;
    background-color: aliceblue;
}
.footer-content > h3 {
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    
}
.footer-content > .line-6 {
    width: 1px;
    height: 6vh;
}
