* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #E2E6E9;
}
.header-notes {
    background-color: #FFFFFF;
    margin: 30px 0;
    border-radius: 10px;
    height: 50px;
}
.header-notes-title h2 {
    color: #91AAEE;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}
.profile-picture {
    width: 36px;
    height: 36px;
}
.profile-picture > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.profile-info-name {
    
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 15px;
    padding-right: 15px;
}
.profile-info-name {
    font-size: 14px;
}
.notes {
    background-color: #FFFFFF;
    border-radius: 10px;
}
.note {
    background-color: #FFFFFF;
    border-radius: 10px;
}
.filter {
    padding: 15px;
}
.title {
    font-size: 17px;
    font-weight: 700;
}
.tags {
    padding: 15px 0;
}
.tag {
    display: inline-block;
    margin-right: 6px;
    padding: 5px 10px;
    background-color: #91AAEE;
    border-radius: 10px;
    border: none;
    outline: none;
}
.articles {
    padding: 15px;
}
.count {
    font-size: 15px;
    font-weight: 700;
    color: #91AAEE;
    padding: 15px 0;
}
.articles-list-item {
    background-color: #F7F7F7;
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
}
.articles-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.article-title {
    font-size: 16px;
    font-weight: 700;
    text-align:left;
    padding: 5px 0;
}
.article-description {
    font-size: 14px;
    text-align: left;
    padding: 5px 0;
}
.article-data {
    font-size: 12px;
    padding: 5px 0;
    text-align: right;
}
.note {
    padding: 15px;
}
.note-title {
    font-size: 17px;
    font-weight: 700;
}
.note-date {
    font-size: 12px;
    padding: 5px 0;
    text-align: left;
}
.note-description {
    font-size: 14px;
    text-align: left;
    padding: 5px 0;
}


